<h1>POST</h1>

{{#if havePost}}
    <img src="{{post.thumbnail}}" alt="thumbnail">
    <p>{{post}}</p>
    <p>Name: {{post.name}}</a></p>
    <p>Body: {{post.body}}</p>
    <p>Excerpt: {{post.excerpt}}</p>
{{else}}
    <div>Nothing Found</div>
{{/if}}

